:root {
	--bs-blue: #037bc0;
	--alfgow: #d2ff1e;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Raleway", sans-serif;
	font-size: 1.6rem;
	line-height: 2;
}

h1,
h2,
h3 {
	font-family: "Playfair Display", serif;
}

h1 {
	font-size: 3.8rem;
}

h2 {
	font-size: 3.2rem;
}

h3 {
	font-size: 2.4rem;
}

.text-primary,
.nombre-sitio {
	color: var(--bs-blue) !important;
}

.bg-primary {
	background-color: whitesmoke !important;
}

.bg-alfgow {
	background-color: var(--alfgow) !important;
}

.form-control {
	padding: 1rem;
	font-size: 1.6rem;
	border: 1px solid var(--alfgow);
	border-radius: 10px;
}

.btn-success {
	background-color: var(--alfgow) !important;
	color: gray;
}

.hero {
	background-image: url("../img/principal.jpg");
	height: 25rem;
	background-size: cover;
	background-position: center center;
}

.categoria img {
	transition-property: transform;
	transition-duration: 300ms;
}

.categoria img:hover {
	transform: scale(1.2);
}

@media (min-width: 768px) {
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 4rem;
	}
	h3 {
		font-size: 3rem;
	}
	.hero {
		background-image: url("../img/principal.jpg");
		height: 55rem;
		background-size: cover;
		background-position: center center;
	}
	.producto img {
		height: 43rem;
		width: 100%;
		object-fit: cover;
	}
}

@media (min-width: 2304px) {
	.hero {
		height: 70rem;
	}
}
